node_modules
.pnpm-store
.env
.env.*
dist
coverage
.next
.turbo
.DS_Store
*.tsbuildinfo
artifacts
cache
packages/contracts/typechain-types
packages/contracts/ignition/deployments
packages/db/prisma/migrations
.vercel
