node_modules
.pnpm-store
.env
.env.*
!.env.example
!apps/**/.env.example
!packages/**/.env.example
dist
coverage
.next
.turbo
.DS_Store
*.tsbuildinfo
artifacts
cache
packages/contracts/typechain-types
packages/contracts/ignition/deployments
.vercel
